{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Profil Tsanaativa Vinnera</title>
        <link rel="stylesheet" href="{% static "stylestory1.css" %}">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    </head>
<body>
    <div class="header">
        <h1>Welcome to My Profile!</h1>
    </div>
    <img src= "{% static "ID49.png" %}" style="width: 336.15px; height: 387.45px; position: absolute; left:90px; bottom:45px;">
    <div class="description">
        <p>Perkenalkan, nama saya Tsanaativa Vinnera.<br>
        <br>Saya adalah mahasiswa jurusan Ilmu Komputer Universitas Indonesia.
        Saya adalah seorang <i>digital artist</i> yang berpengalaman dalam bidang desain grafis,
        namun juga seorang mahasiswa biasa yang hanya ingin lulus mata kuliah PPW.</p>
    </div>
    <div class="transition"></div>
    <div class="profile">
        <h1>Biodata Diri</h1>
    </div>
    <hr>
        <table class="biodata">
            <tr>
                <td>Nama</td>
                <td>: Tsanaativa Vinnera</td>
            </tr>
            <tr>
                <td>NPM</td>
                <td>: 1906350881</td>
            </tr>
            <tr>
                <td>Jurusan</td>
                <td>: Ilmu Komputer</td>
            </tr>
            <tr>
                <td>Angkatan</td>
                <td>: 2019</td>
            </tr>
            <tr>
                <td>Perguruan Tinggi</td>
                <td>: Universitas Indonesia</td>
            </tr>
            <tr>
                <td>Hobi</td>
                <td>: Menggambar digital</td>
            </tr>
        </table>
    </div>
    <div class="profile">
        <h1>Riwayat Pendidikan</h1>
    </div>
    <hr>
    <table id="riwayat">
        <tr>
        <th>Tahun</th>
        <th>Pendidikan</th>
        </tr>
        <tr>
            <td>2007 - 2013</td>
            <td>SD Al-Furqan Jember</td>
        </tr>
        <tr>
            <td>2013 - 2016</td>
            <td>SMPN 2 Jember</td>
        </tr>
        <tr>
            <td>2016 - 2019</td>
            <td>SMAN 1 Jember</td>
        </tr>
        <tr>
            <td>2019 - sekarang</td>
            <td>Universitas Indonesia</td>
        </tr>
    </table>
    <div class="transition socmed" style="height: 400px;">
        <h1>Get in touch.</h1>
        <table id="contact">
            <tr>
                <td>ID LINE</td>
                <td>: vivinyuri</td>
            </tr>
            <tr>
                <td>WhatsApp</td>
                <td>: +62895340546968</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>: tsanaativa.vinnera@gmail.com</td>
            </tr>
        </table>
        <div></div>
        <a href="https://www.facebook.com/tsanaativa.v">
        <img src="{% static "facebook.png" %}" style="position:absolute; right:80px; width: 50px;"></a>
        <a href="https://twitter.com/vivinnera14">
        <img src="{% static "twitter.png" %}" style="position:absolute; right:180px; width: 50px;"></a>
        <a href="https://www.linkedin.com/in/tsanaativa-vinnera-0295261b7">
        <img src="{% static "linkedin.png" %}" style="position:absolute; right:280px; width: 50px;"></a>
        <a href="https://www.instagram.com/vivinnera/">
        <img src="{% static "instagram.png" %}" style="position:absolute; right:380px; width: 50px;"></a>
    </div>
</body>
</html>