body {
    background-color: #e7ecef;
}
.header{
    background-color: #151515;
    padding: 5px 60px;
    text-align: right;
    font-family: 'Poppins'; font-size: 28px; font-weight: bolder;
    color: white;
}
.description{
    background-color: #1d3557;
    padding: 70px 60px 70px 500px;
    text-align: right;
    font-family: 'Poppins'; font-size: 20px; font-weight: 500;
    color: white;
    line-height: 1.5;
}
.transition{
    background-color: #151515;
    padding: 50px;
}
.profile{
    padding: 5px 75px; text-align: center;
    font-family: 'Poppins'; font-size: 26px; font-weight: bolder;
    color: #274c78;
}
hr{
    height: 4px; width: 50%; margin-top: 0; margin-bottom: 60;
    color: #6096ba; background-color: #6096ba;
}
.biodata {
    width: 50%; margin: auto;
    font-family: 'Poppins';
    line-height: 2;
    padding-left: 125px; padding-bottom: 50px;
}
#riwayat{
    border-collapse: collapse;
    width: 40%;
    font-family: 'Poppins';
    text-align: center;
    margin: 50px auto 75px;
}
#riwayat th{
    background-color: #3b5d85;
    color: white;
}
#riwayat td{
    background-color: #f2f2f5;
}
#riwayat th, #riwayat td {
    border: 2px solid #6096ba;
    padding:10px
}
.socmed{
    padding: 5px 75px;
    font-family: 'Poppins'; font-size: 28px; font-weight: bolder;
    color: white;
}
#contact{
    font-size: 20px;
    width:50%;
    color: white;
}